$md: 1180px;
$sm: 1060px;
$xs: 830px;

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}
@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin xs {
  @media (max-width: $sm) {
    @content;
  }
}
